<section class="newsletter" style="background-image: url('https://i.ibb.co/s98crWD/bg-newsletter.jpg')">
    <div class="newsletter-content">
        <h2>Subscribe to Our Newsletter</h2>
        <p>Get 10% off your first order and stay updated with our latest collections and exclusive offers!</p>
        <form class="newsletter-form">
            <div class="input-group">
                <input type="email" placeholder="Enter your email address">
                <button type="submit">Subscribe</button>
            </div>
            <div class="form-footer">
                <label class="checkbox">
                    <input type="checkbox">
                    <span>I agree to receive promotional emails</span>
                </label>
            </div>
        </form>
    </div>
</section> 